@import '../../styles/colors';

:host {
  cursor: pointer;
  .red ion-icon {
    color: $red;
  }
  .orange ion-icon {
    color: $orange;
  }
  .yellow ion-icon {
    color: $yellow;
  }
  .green ion-icon {
    color: $green;
  }
  .blue ion-icon {
    color: $blue;
  }
  .purple ion-icon {
    color: $purple;
  }
  .pink ion-icon {
    color: $pink;
  }
  .teal ion-icon {
    color: $teal;
  }
  .gold ion-icon {
    color: $gold;
  }
  .silver ion-icon {
    color: $silver;
  }
}

ion-icon {
  height: 8rem;
  width: 8rem;
}